* { font: inherit }
body {
	background-color: #110d08;
	color: #A19382;
	font-size: 16px;
	font-family: Tahoma;
	padding: 10px;
}

.float {
    display: table;
    width: 100%
}
.float .left {
    display: table-cell;
    text-align: left;
}
.float .right {
    display: table-cell;
    text-align: right
}
.float .right > * {
	text-align: left;
}

textarea, input[type="text"] {
	padding: 2px;
	margin: 1px;
	font-size: 15px
}

tr {
	vertical-align: top
}

a {
	color: #A19382
}

a:hover {
	color: #8E7D67
}

.l2sysmsgs, .screen_position {
	background-color: #211d18;
	border: 1px solid yellow;
	border-collapse: collapse;
	color: #A19382;
}
.screen_position td {
	width: 80px;
	cursor: pointer;
	background-color: #110d08;
}
.screen_position td.active {
	background-color: #312d28;
}
.screen_position td:hover:not(.active) {
	background-color: #312d28;
}

.l2sysmsgs { width: 100% }
.l2sysmsgs td, .l2sysmsgs th, .l2sysmsgs tr, .screen_position tr, .screen_position td {
	border: 1px solid #756959
}
.l2sysmsgs td, .l2sysmsgs th, .screen_position td {
	padding: 3px;
	white-space: pre-line;
}
.l2sysmsgs th {
	color: #A19382
}
.l2sysmsgs tr {
	cursor: pointer;
}
.l2sysmsgs tr:hover, .l2sysmsgs tbody.blk:hover > tr {
	background-color: #110d08;
}

.l2sysmsgs td:nth-child(2) {
	width: 60%;
}

.l2sysmsgs-diff td:nth-child(2) {
	width: 50%;
}
.l2sysmsgs-diff td:nth-child(3) {
	width: 50%;
}

.modal_window {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	opacity:1;
	padding: 0;
	display: none
}
.modal_window:target {
	opacity: 1;
	pointer-events: auto
}
.modal_window > div {
	max-width: 700px;
	max-height: 700px;
	min-height: 500px;
	position: relative;
	margin: 10% auto;
	border-radius: 5px;
	background-color: #110d08;
	border: 1px solid #756959;
	color: #A19382;
}
.padd { padding: 10px }
.max_width { width: 97%; }

textarea, select, option, input, button.btn {
	background-color: #211d18;
	border: 1px solid #756959;
	color: #A19382;
}
textarea:focus, input[type="text"]:focus, button.btn:focus, select:focus {
	background-color: #110d08;
}
input[type="submit"]:hover, select:hover, button.btn:hover, button.btn.clicked {
	background-color: #312d28;
}
#color_selector, #bulk_color_selector {
	overflow: hidden;
	position: absolute;
	z-index: 9999999;
	height: 0
}
.grid_item { display: inline-block; position: relative }
.hr { padding: 0; margin: 5px 0 5px 0; border-top: 1px dotted #756959 }

.music { border-top: 1px dotted #756959; padding: 2px; cursor: pointer; padding: 5px }
.music:hover, .music.active { background-color: #211d18; }

.slider_container {
	height: 10px;
	border: 1px solid #756959;
	background-color: #110d08;
	position: relative
}
.slider_range {
	position: absolute;
	top: 0;
	height: 100%;
	background-color: #413d38;
}
.slider_pointer {
	position: absolute;
	top: -0.3em;
	left: 0;
	width: 1.2em;
	height: 1.2em;
	padding: 0;
	margin-left: -0.6em;
	background-color: #110d08;
	border: 1px solid #756959;
}
#menu { padding: 20px }
.menu_fixed { position: fixed; }

#up_to_page {
	z-index: 9999;
	background-color: #000000;
	padding: 20px;
	top: 0;
	right: 100px;
	display: none;
	position: fixed;
	opacity: 0.7;
	border-radius: 6px;
	cursor: pointer;
	color:#FFFF00
}

.lang_selector {
	z-index: 999999999999999;
	padding: 20px;
	top: 0;
	right: 10px;
	position: absolute;
}

.sound_play {
    vertical-align: middle;
    margin: -8px;
    padding: 8px;
}

.tabs { }
.tabs-header { padding-left: 5px }
.tab {
	background: #312d28;
	display: inline-block;
	padding: 4px;
	border: 1px solid #756959;
	border-radius: 4px 4px 0 0;
	margin-bottom: -1px;
	cursor: pointer
}
.tab.active {
	background: #110d08;
	border-bottom: 1px solid #110d08;
}
.tab-content {
	display: none;
	border-top: 1px solid #756959;
	padding-top: 4px;
}
.tab-content.active {
	display: block
}
.l2sysmsgs-select td:nth-child(1) {
    background-image: url(/static/images/check.png);
    background-repeat: no-repeat;
	background-position: 3px 5px;
    padding-left: 20px;
}

.l2sysmsgs-select .disabled td:nth-child(1) {
	background-image: url(/static/images/remove.png);
}

.l2sysmsgs-select .checked tr:nth-child(1) > td:nth-child(1), 
.l2sysmsgs-select tr.checked > td:nth-child(1) {
    background-image: url(/static/images/checked.png);
}
.l2sysmsgs tr.checked, .l2sysmsgs .blk.checked tr {
	background-color: #3A342C !important;
}
.l2sysmsgs tr:hover.checked, .l2sysmsgs .blk.checked:hover tr {
	background-color: #312C25 !important;
}

.js-open_color_picker, .pointer, label {
	cursor: pointer
}
.save_error {
	color: red;
	display: none
}

button, input[type="submit"] {
	cursor: pointer
}
input[type="file"] {
    margin: 3px 0px;
}

.l2sysmsgs .sm > td {
	background-image: url(/static/images/screen.png);
    background-repeat: no-repeat;
    background-position: 4px 5px;
    padding-left: 24px;
}

button.btn-download {
	border: 1px solid #B09B79;
	background-color: #383027;
	color: #B09B79;
	font-weight: bold;
	padding: 0 10px
}